

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    
}

.contenedor {
    /* border: 3px solid rgb(0, 115, 255); */
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    grid-column: 1/-1;
    margin-right: 0;
    right: 0;
    left: 0;

}

.contenedor-intranet {
    width: 100%;
    height: 100%;
    /* border: 3px solid rgb(255, 94, 0); */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 200px 1fr;
    grid-template-rows: 55px 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-gap: 5px;
    /* column-gap: 10px;
    row-gap: 1em; */
}

.contenedor-intranet .seccion {
    background-color: rgb(255, 255, 255);
}

/* INICIAR SESION */

.login {
    /* border: 1px solid rgb(0, 255, 21);s */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    /* margin: 5px auto; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./img/fondo-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login .contenedor-image {
    width: 150px;
    height: 90px;
    border: 2px solid rgb(255, 255, 255);
    margin: 10px auto;
    margin-bottom: 2.5vh;
    background-color: #d8d8d8b9;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px  #e2e2e2;

}

.login .contenedor-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.login .card-login {
    /* border: 1px solid rgb(0, 255, 255); */
    width: 150vh;
    padding: 15px;
    /* box-shadow: 0px 0px 15px 10px  #e2e2e2; */
    background-color: white;
}

.card-login .titulo-login {
   /* border: 1px solid red;  */
   text-align: center;
   padding-top: 5px;
   margin-bottom: 5vh;
}

.card-login .titulo-login h1 {
    color: #797979;
    font-size: 4.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnIngresar {
    color: white;
    text-decoration: none;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}



/*------header------------------------------------------*/
.header-contenedor {
    grid-column: 1/-1;
}

.header-contenedor .nav {
    /* border: 1px solid red; */
    margin-right: 14.5vh;
}

.nav li .titulo {
    color: white;
}

.nav li .img-contenedor {
    width: 65px;
    height: 40px;
    max-width: 65px;
    max-height: 40px;
    /* max-height: 30px; */
    /* border: 2px solid red; */
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.nav li .img-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
    /* border: 1px solid rgb(58, 58, 58); */
}

.nav li .img-contenedor .circulo-live {
    position: absolute;
    bottom: 0;
    color: rgb(34, 226, 101);
    right: 0;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.nav li .img-contenedor .circulo-live .punto {
    border: 2px solid white;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    height: auto;
    right: 0;
    
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li .tab_btn {
    color: white;
}

.nav li .tab_btn.active {
    color: black;
}


.main-contenedor {
    /* border: 3px solid rgb(245, 242, 49); */
    /* padding: 10px;    */
    margin: 0;
    padding: 0;
    position: relative;
    
}

.main-contenedor .item {
    /* border: 4px solid rgb(40, 224, 52); */
    display: none;
    animation: moving .5s ease;
}

@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.main-contenedor .item.active{
    display: block;
}

/*---item1:dashboard------------------------------------------------------------------------------------ */
.dashboard-contenido {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(./img/fondoclinica.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1/-1;
    display: grid;
    position: absolute;
    grid-row: 1/-1;
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    padding: 5px;

}

.dashboard-contenido .contenido {
    /* border: 1px solid rgb(0, 255, 64); */
    color: white;
    padding-top: 10vh;
    padding-left: 10vh;
}

/*--item 2:cumpleañeros--------------------------------------------------------------------- */



/*-----comunicados-----------------------------------------------------------------------------*/
.comunicados-contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #d8e1f3;
    /* border: 3px solid red; */
    /* gap: 5px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /* grid-column: 1/-1;
    grid-row: 1/-1; */

}

.comunicados-contenedor h4 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 2.5vh;
}

.comunicados-contenedor .cards {
    /* border: 3px solid rgb(250, 219, 42); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.comunicados-contenedor .cards .card {
    background-color: #ffffff;
    border: 1px solid rgb(187, 187, 187);
    /* border: 3px solid rgb(100, 179, 26); */
    height: 100%;
    max-height: 93%;
    margin: 0;
}

.comunicados-contenedor .cards .card:hover {
    background-color: #cacaca;
    z-index: 3;
}

.comunicados-contenedor .cards .card .img-contenedor {
    width: 100%;
    height: 7rem;
    /* border: 2 solid red; */

}

.comunicados-contenedor .cards .card .img-contenedor img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.comunicados-contenedor .cards .card .card-body {
    /* border: 3px solid rgb(36, 194, 206); */
    padding: 5px;
    margin: 0;
    height: 3rem;
    gap: 0;
}

.comunicados-contenedor .cards .card .card-body h5 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.comunicados-contenedor .cards .card .card-body p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.comunicados-contenedor .cards .card .card-body a {
    display: flex;
    justify-content: center;
    margin: 0 13vh;
}



/*-----servicios-------------------------------------------------------------------------------------*/

.servicios-contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: #d8e1f3;
    /* border: 3px solid red; */
    /* gap: 5px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #2e86c1;
    /* grid-column: 1/-1;
    grid-row: 1/-1; */

}

.servicios-contenedor .servicios {
    /* border: 3px solid rgb(250, 219, 42); */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 5px auto;
    gap: 15px;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 90%;
    /* position: relative; */
    background-color: transparent;
    padding: 0;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.servicios-contenedor .servicios .serv-portada {
    /* border: 3px solid rgb(42, 250, 111); */
    width: 100%;
    height: 90%;
    /* justify-content: center;
    align-items: center; */
    margin: 0;
    position: relative;
}

.servicios-contenedor .servicios .serv-portada::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}

.servicios-contenedor .servicios .serv-portada img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.servicios-contenedor .servicios .serv-info {
    /* border: 3px solid rgb(0, 0, 0); */
    height: 90%;
    margin: 0;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.servicios-contenedor .servicios .serv-info p {
    position: absolute;
    top: 0;
    left: 45%;
    right: 50%;
    color: #ffffff;
    font-size: 5vh;
}

.servicios-contenedor .servicios .serv-info .cards-contenedor {
    /* border: 3px solid rgb(128, 7, 97); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    height: 81%;
    padding-bottom: 0;
    justify-content: center;
    align-content: center;
    width: 100%;
    /* margin-top: 7vh; */
    margin: 0;
}

.servicios-contenedor .servicios .serv-info .card-servs {
    border: 1px solid rgb(102, 102, 102);
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.servicios-contenedor .servicios .serv-info .card-servs:hover {
    background-color: #b9b9b9;
}

.card-servs .img-contenedor {
    background-color: #2e86c1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
    padding-top: 14px;
    font-size: 3vh;
    color: white;

}

.card-servs .titulo {
    color: #707070;
}

.card-servs .titulo h4 {
    font-size: 2vh;
}

/* contactos */

.contenedor-tabla .img-contenedor {
    width: 50px;
}

.contenedor-tabla .img-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
}

.form-insertar {
    display: block;
}


/*----carousel---------------------*/
.container.cumpleaneros {
    /* border: 1px solid red; */
    background: url("image/bg.jpg") #030728 no-repeat center;
}

.slider-wrapper {
    /* border: 1px solid rgb(30, 54, 177); */
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    color: #fff;
    /* width: 400px; */
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
   background: rgba(255, 255, 255, 0.2);
    /* background: rgba(255, 255, 255, 0.651); */
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    /* border: 3px solid #fff; */
    padding: 4px;
}

.card-list .card-item .user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -50px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #4658ff;
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }

}







